@CHARSET "UTF-8";
body, table, tr, td, th, ul, ol, p, li, fieldset, form, h1, h2, h3, h4, h5 {
   margin: 0;
   padding: 0;	
   text-align: left;
}

body {
	font-family: verdana, sans-serif;
	font-size: 75%;
	line-height: 1.125em;
}

h1, h2, h3, h4, h5 {
	color: #663;
}

#header {
	border-bottom: thin solid #999;
	padding: 0.25em 1em;
}

#header h1 {
	color: #996;
	margin: 0.5em 0;
}

.wrapper {
	width: 75%;
	margin: 0.5em auto;
    border: thin solid #999;
    position: relative;
}

#content {
	padding: 1em 12px;
	overflow: auto;
}

.contents {
	display: block;
	overflow: auto;
	margin: 0 2px;
}

.contents h2 {
	margin-bottom: 0.25em;
}

#contents div.yui3-datatable {
    display:block !important;
}

.tab {
    margin: 30px 0 3em 0;
    padding: 10px 0;
    clear: both;
    overflow: auto;
    border: 1px solid #ddd;
    border-width: 1px;
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
    cursor: pointer;
   -webkit-box-shadow:  3px 5px 10px 1px rgba(0, 0, 0, .2);
    box-shadow:  3px 5px 10px 1px rgba(0, 0, 0, .2);
}

.tab>h2 {
    font-style:italic;
    letter-spacing: 0.25em;
    display: block;
    clear: both;
    padding: 0.5em 0.25em;
    margin: 0 0 1em 0;
    background-color: #eee;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ddd;
    border-width: 1px 1px 0 1px;
    position: absolute;
    margin-top: -42px;
    left: 12px;
    z-index: 2;
}

.tab .selectedTab {
    left: -13px;
    margin-top: -43px;
    -webkit-border-radius: 5px 5px 0 5px;
    border-radius: 5px 5px 0 5px;
    border-bottom-width: 1px;
}


.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0.3 ) 
                url('/yui-srsSteps/assets/rotator.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
wrapper.loading {
    overflow: hidden;   
}

/* Anytime we use the loading class, our
   modal element will be visible */
.loading .modal {
    display: block !important;
}